@model DataLayer.ViewModels.CourseViewModel

@{
    Layout = null;
}


@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
          ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/content/Admin/img/favicon.ico">
    <!-- Google Fonts
          ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/owl.carousel.css">
    <link rel="stylesheet" href="/content/Admin/css/owl.theme.css">
    <link rel="stylesheet" href="/content/Admin/css/owl.transitions.css">
    <!-- animate CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/animate.css">
    <!-- normalize CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/normalize.css">
    <!-- meanmenu icon CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/meanmenu.min.css">
    <!-- main CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/main.css">
    <!-- educate icon CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/content/Admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/content/Admin/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/style.css">
    <!-- responsive CSS
          ============================================ -->
    <link rel="stylesheet" href="/content/Admin/css/responsive.css">
    <!-- modernizr JS
          ============================================ -->
    <script src="/content/Admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class=" ">
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <span class="educate-icon educate-home icon-wrap"></span>
                                <span class="mini-click-non">Admin Dushboard</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li>
                                    @Html.ActionLink("Admin Profile", "AdminPanel", "Home", null, new { @class = "mini-sub-pro" })
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="all-professors.html" aria-expanded="false">
                                <span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Professors</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("All Professors", "AllProf", "Home", null, new { @class = "mini-sub-pro" })
                                </li>
                                <li>
                                    @Html.ActionLink("Add Professor", "AddProf", "Home", null, new { @class = "mini-sub-pro" })
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-students.html" aria-expanded="false">
                                <span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Students</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("All Students", "AllStu", "Home", null, new { @class = "mini-sub-pro" })
                                </li>
                                <li>

                                    @Html.ActionLink("Add Students", "AddStu", "Home", null, new { @class = "mini-sub-pro" })
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-courses.html" aria-expanded="false">
                                <span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Courses</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="All Courses" href="AllCou">
                                        <span class="mini-sub-pro">
                                            All
                                            Courses
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    @Html.ActionLink("Add Course", "AddCou", "Home", null, new { @class = "mini-sub-pro" })
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse"
                                                    class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button"
                                                       aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="/content/Admin/img/product/dll.jpeg" alt="" />
                                                        <span class="admin-name">Super Admin</span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu"
                                                        class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li>
                                                            @Html.ActionLink("Log Out", "Login", "Home")
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ftco-section" style="margin-top: 100px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">All Courses</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            @if (Model != null)
                            {
                                if (Model.course.Count > 0)
                                {
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>

                                                <th>Title Of lesson</th>
                                                <th>Professor Name </th>
                                                <th>Days Of Class</th>
                                                <th>Time Of Class</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.course)
                                            {
                                            <tr class="alert" role="alert">
                                                <th scope="row">@Html.DisplayFor(m => item.Title)</th>
                                                <td>@Html.DisplayFor(m => item.Teacher)</td>
                                                <td>@Html.DisplayFor(m => item.Days)</td>
                                                <td>@Html.DisplayFor(m => item.Time)</td>
                                                <td colspan="2">
                                                    @*<a href="#" data-toggle="modal" data-target="#Edit" class="edit" data-id="@item.TeacherID">Edit</a>*@
                                                    @Html.ActionLink("Edit", "EditCou", "Home", new { id = item.CourseID }, null)  |
                                                    @*<a href="#" data-toggle="modal" data-target="#DeleteRecord" class="delete" data-id="@item.TeacherID">Delete</a>*@
                                                    @*@Html.ActionLink("Delete", "DeleteProf", "Home", new { id = item.TeacherID }, null)*@
                                                    @Html.ActionLink("Delete", "DeleteCou", new { id = item.CourseID },
                                                    new { onclick = "return confirm('Are you sure you want to delete this record?');" })


                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- End -->
    <!-- jquery
          ============================================ -->
    <script src="/content/Admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
          ============================================ -->
    <script src="/content/Admin/js/bootstrap.min.js"></script>
    <!-- wow JS
          ============================================ -->
    <script src="/content/Admin/js/wow.min.js"></script>
    <!-- price-slider JS
          ============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
          ============================================ -->
    <script src="/content/Admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
          ============================================ -->
    <script src="/content/Admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
          ============================================ -->
    <script src="/content/Admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
          ============================================ -->
    <script src="/content/Admin/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
          ============================================ -->
    <script src="/content/Admin/js/counterup/jquery.counterup.min.js"></script>
    <script src="/content/Admin/js/counterup/waypoints.min.js"></script>
    <script src="/content/Admin/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
          ============================================ -->
    <script src="/content/Admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/content/Admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
          ============================================ -->
    <script src="/content/Admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="/content/Admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
          ============================================ -->
    <script src="/content/Admin/js/morrisjs/raphael-min.js"></script>
    <script src="/content/Admin/js/morrisjs/morris.js"></script>
    <script src="/content/Admin/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
          ============================================ -->
    <script src="/content/Admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/content/Admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/content/Admin/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
          ============================================ -->
    <script src="/content/Admin/js/calendar/moment.min.js"></script>
    <script src="/content/Admin/js/calendar/fullcalendar.min.js"></script>
    <script src="/content/Admin/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
          ============================================ -->
    <script src="/content/Admin/js/plugins.js"></script>
    <!-- main JS
          ============================================ -->
    <script src="/content/Admin/js/main.js"></script>
    <!-- tawk chat JS
          ============================================ -->
    <script src="/content/Admin/js/tawk-chat.js"></script>
</body>

</html>

